@import '../_utility.scss';

.banner {
	width: 100%;
	max-width: 1240px;
	height: 223px;
	margin: 2em auto 43px;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
	display: block;
	align-items: center;
	justify-content: center;
	background-color: black;

	&_title {
		@include absolute-center-el(50%, 0, 0, 50%, -50%, -50%);
		@extend %font48;
		color: $color-lightgrey;
		height: 223px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	img {
		opacity: 0.7;
		height: 100%;
		object-fit: cover;
		width: 100;
	}
}

@media (max-width: 700px) {
	.banner {
		width: 96%;
	}
}

@media (max-width: 630px) {
	.banner {
		width: 93%;
	}
	.banner_title {
		font-size: 40px;
		line-height: 42px;
	}
}

@media (max-width: 445px) {
	.banner {
		width: 96%;
	}
	.banner_title {
		width: 169px;
		font-size: 24px;
		left: 127px;
		line-height: 19px;
		height: 48px;
		position: absolute;
		top: 66px;
	}
}
