@import '../_utility.scss';

.card {
	max-width: 340px;
	width: 340px;
	height: 340px;
	border-radius: $border-radius-small;
	margin-bottom: 30px;
	position: relative;

	&__title {
		display: block;
		text-align: left;
		width: 300px;
		height: 52px;
		color: $color-white;
		position: absolute;
		margin-left: 20px;
		bottom: 0px;
	}
}

.card__img {
	width: 100%;
	object-fit: cover;
	height: 340px;
	border-radius: $border-radius-small;
}

@media (max-width: 630px) {
	.card {
		height: 255px;
		.card__img {
			height: 255px;
		}
	}
}
