@import '../_utility.scss';

.collapse {
	max-width: 1023px;
	width: 100%;
	height: auto;
	margin: 0 auto 30px;
	// background-color: $color-lightgrey;
	color: $color-white;
	border-radius: 5px;
	position: relative;
	text-align: left;

	.collapse-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 6px 20px;
		height: 52px;
		max-height: 52px;
		border-radius: 5px;
		background-color: $color-primary;
	}
	.collapse-text {
		max-width: 1023px;
		min-height: 141px;
		height: auto;
		left: 0px;
		// top: 38px;
		background-color: $color-lightgrey;
		color: $color-primary;
		margin-bottom: 30px;
		padding: 12px 27px 10px 18px;
	}
}

@media screen and (max-width: 400px) {
	.collapse-header {
		height: 33px;
	}

	.collapse-title {
		height: auto;
		font-size: 14px;
	}

	.arrow {
		height: 12px;
	}
}
