@import '../_utility.scss';

footer{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 209px;
    width: 100%;
    left: -543px;
    top: 4333px;
    background: #000000;
    color :white;


      
}