@import '../_utility.scss';

header {
	width: 100%;
	max-width: 1240px;
	height: 68px;
	top: 40px;
	margin: 0 auto 68px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header_logo {
	width: 110.32px;
	height: 68px;
	left: 100px;
}

nav {
	top: 40px;
	width: 100%;
	max-width: 309px;
	height: 68px;
	display: flex;
	justify-content: space-around;
}

ul {
	list-style: none;
	color: #ff6060;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

nav-items {
	margin-right: 10px;
	cursor: pointer;
}

.nav__link {
	//color: #ff6060;
	color: $color-primary;
	text-decoration: none;
	font-size: 24px;
	text-align: center;
	font-weight: 700;
	font-style: normal;
	display: block;
	height: 68px;
	line-height: 68px;
	font-style: mont;
}

.nav__link-actived {
	color: #ff6060;
	text-decoration: none;
	border-bottom: 2px solid #ff6060;
	font-size: 24px;
	text-align: center;
	font-weight: 700;
	font-style: normal;
	position: relative;
}

.nav__link:after {
	content: 'Xxx';
	position: absolute;
	width: 100%;
	height: 2px;
	background: #492059;
}

.nav__link:after {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	border-bottom: 0px solid red;
	transform: scaleX(0);
}

.nav__link:hover {
	border-bottom: 1px solid red;
	transition: transform 5s ease;
	transform: scaleX(1);
}

// @custom-media --bp-min (min-width < 445px);

@media (max-width: 445px) {
	header {
		width: 335px;

		img {
			height: 40px;
		}
	}

	.header_logo {
		width: 145px;
		padding-top: 8px;
	}
	nav {
		width: 140px;
	}

	.nav__link {
		font-size: 12px;
	}

	.banner {
		width: 96%;
	}
}
