@import '../_utility.scss';

.housing_info {
	display: flex;
	justify-content: space-between;
}

.housing_title {
	font-size: 34px;
	color: #ff6060;
	font-weight: 500;
	margin: 10px 10px 10px 10px;
	text-align: left;
}

.housing_location {
	color: #ff6060;
	font-size: 20px;
	font-weight: 500;
	margin: 10px 10px 20px 10px;
	text-align: left;
}

.housing_dropdown {
	display: flex;
	justify-content: space-between;
	margin: 0 auto 30px;
	padding-top: 30px;
}

.housing_dropdown button {
	height: 40px;
	font-size: 18px;
	width: 100%;
}

.host-rating {
	margin-top: 20px;
}

.dropdown {
	width: 582px;
	// margin: 0;
	ul {
		margin: 0px;
		border-radius: 10px;
		li:nth-child(1) {
			margin-top: -25px;
		}
	}

	.dropdown-text {
		// height: 185px;
		top: 0;
	}
}

@media screen and (max-width: 1370px) {
	.dropdown {
		width: 480px;
	}
}

@media screen and (max-width: 1162px) {
	.housing_dropdown {
		flex-direction: column;
		align-items: center;
	}

	.housing__dropdown-block {
		margin-top: 23px;
	}

	.dropdown-text {
		margin-bottom: 0px;
	}

	.rating_box {
		width: 200px;
	}
}

@media screen and (max-width: 700px) {
	body {
		margin: 0 auto;
		padding: 0px;
	}

	header {
		padding: 20px;
	}

	.carroussel {
		padding: 20px;
	}
	.housing_info {
		flex-direction: column;
	}

	.housing_title {
		font-size: 26px;
		padding: 0 10px;
	}

	.housing_location {
		font-size: 16px;
		text-align: left;
		padding: 0 10px;
	}

	.host-rating {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}

	.housing_dropdown {
		flex-direction: column;
	}

	.housing__dropdown-block {
		width: 100%;
	}
	.dropdown {
		width: 100%;
		padding: 0 20px;
	}
	.tags {
		padding: 0 10px;
	}
	.tag {
		font-size: 12px;
	}

	.host-rating {
		padding: 0 10px;
	}

	.dropdown .dropdown-text {
		top: 20px;
	}
}

.carroussel {
	position: relative;
}

// .dropdown {
// 	width: 582px;
// }

.dropown-header {
	height: 52px;
}

ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
