@import '../_utility.scss';

.housing_info {
	display: flex;
	justify-content: space-between;
}

.housing_title {
	font-size: 34px;
	color: $color-primary;
	font-weight: 500;
	margin: 10px 10px 10px 10px;
	text-align: left;
}

.housing_location {
	color: $color-primary;
	font-size: 20px;
	font-weight: 500;
	margin: 10px 10px 20px 10px;
	text-align: left;
}

.housing_collapse {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto 30px;
	padding-top: 30px;
}

.housing__collapse-block {
	width: 48%;
}

.housing_collapse button {
	height: 40px;
	font-size: 18px;
	width: 100%;
}

.host-rating {
	margin-top: 20px;
}

.collapse {
	ul {
		margin: 0px;
		border-radius: 10px;
		li:nth-child(1) {
			margin-top: -25px;
		}
	}

	.collapse-text {
		min-height: 180px;
		top: 0;
	}
}

@media screen and (max-width: 1162px) {
	.housing_collapse {
		flex-direction: column;
		align-items: center;
	}

	.housing__collapse-block {
		margin-top: 23px;
		width: 100%;
	}

	.collapse-text {
		margin-bottom: 0px;
	}

	.rating_box {
		width: 200px;
	}
}

@media screen and (max-width: 700px) {
	body {
		margin: 0 auto;
		padding: 0px;
	}

	.housing_info {
		flex-direction: column;
	}

	.housing_title {
		font-size: 26px;
		padding: 0 10px;
	}

	.housing_location {
		font-size: 16px;
		text-align: left;
		padding: 0 10px;
	}

	.host-rating {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}

	.housing_collapse {
		flex-direction: column;
	}

	.housing__collapse-block {
		width: 100%;
	}
	.collapse {
		width: 100%;
		padding: 0 20px;
	}
	.tags {
		padding: 0 10px;
	}
	.tag {
		font-size: 12px;
	}

	.host-rating {
		padding: 0 10px;
	}
}

.collapse-header {
	height: 52px;
}

ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
