// main-color
$color-primary: #ff6060;
$color-lightgrey: #f7f7f7;
$color-darkgrey: #c4c4c4;
$color-white: white;

// border
$border-radius-standard: 25px;
$border-radius-small: 10px;

// Utilitaires Position/dimension

@mixin absolute-center-el($top, $right, $bottom, $left, $x, $y) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	transform: translate($x, $y);
}

%flex-center {
	display: flex;
	justify-content: center;
}

//fonts
%font48 {
	font-family: Montserrat;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: 68px;
	letter-spacing: 0em;
	text-align: left;
}

%font18 {
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
}
