// main-color
$color-primary: #ff6060;
$color-lightgrey: #f7f7f7;
$color-darkgrey: #c4c4c4;
$color-white:white;

$width-standard: 85%;

$border-radius-standard: 25px;
$border-radius-small: 10px;

// fonts


// Utilitaires Position/dimension

@mixin absolute-center-el($top, $right, $bottom, $left, $x, $y) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	transform: translate($x, $y);
}

%flex-center {
	display: flex;
	justify-content: center;
}

//responsive
$breakpoints: (
	xsmall: 545px,
	small: 840px,
	medium: 1015px,
);

@mixin xsmall {
	@media screen and (max-width: map-get($breakpoints, xsmall)) {
		@content;
	}
}

@mixin small {
	@media screen and (max-width: map-get($breakpoints, small)) {
		@content;
	}
}

@mixin medium {
	@media screen and (max-width: map-get($breakpoints, medium)) {
		@content;
	}
}

%font48 {
	font-family: Montserrat;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: 68px;
	letter-spacing: 0em;
	text-align: left;
}


%font18{
	font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: left;

}